<?xml version="1.0" encoding="UTF-8"?>                                                                                                                                                                             
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>  
      <key>assets</key>
      <array>   
        <dict>      
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <!-- CHANGEME on next line -->
          <string>https://48406n-my.sharepoint.com/personal/stern_48406n_onmicrosoft_com/_layouts/15/download.aspx?SourceUrl=%2Fpersonal%2Fstern%5F48406n%5Fonmicrosoft%5Fcom%2FDocuments%2Fnyvandetta%2Eipa</string>
        </dict>     
      </array>  
      <key>metadata</key>
      <dict>    
        <key>bundle-identifier</key>
        <!-- CHANGEME on next line -->
        <string>ny.vandetta.dev</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <!-- CHANGEME on next line -->
        <string>Vandetta</string>
      </dict>   
    </dict> 
  </array>
</dict>
</plist>
